eCIMServices/App_WebReferences/AMSTxn/AMSTxnService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Amkor.AMS.Txn" elementFormDefault="qualified" targetNamespace="Amkor.AMS.Txn" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.185.32.192/AMSTxnService.WSDL?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AMSTxn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSTxnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMSTxnResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="XMLData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DataQueryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSDBQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SQL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSDBQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMSDBQueryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSDBQuery1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SQL" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromSystem" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TimeCheck" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSDBQuery1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AMSDBQuery1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSMutiExeNonQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SQL" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSMutiExeNonQueryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSMutiExeNonQuery1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SQL" nillable="true" type="q2:ArrayOfstring" />
        <xs:element minOccurs="0" name="FromSystem" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AMSMutiExeNonQuery1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>